@page
@model WebApp.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Comment)
        </th>

        <th>
            Player A
        </th>
        <th>
            Player B
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Games)
    {
        var playerA = item.Players!.FirstOrDefault(x => x.Code == 'A')!;
        var playerB = item.Players!.FirstOrDefault(x => x.Code == 'B')!;
        
        <tr>
            <td>@item.Id</td>
            <td>
                @item.Comment<br>
                <small>
                    <strong>Last move:</strong> @item.UpdatedAt<br/>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </small>
            </td>
            <td>
                @playerA.Name
                
                @if (playerA.NextMove)
                {
                    <a asp-page="/Games/Play/Index" asp-route-id="@item.Id">Play</a>
                }
                
            </td>
            <td>
                @playerB.Name
                
                @if (playerB.NextMove)
                {
                    <a asp-page="/Games/Play/Index" asp-route-id="@item.Id">Play</a>
                }
                
            </td>
        </tr>
    }
    </tbody>
</table>
