@page
@model WebApp.Pages.Games.Setup

@{
    
}

<style>
    
       label {
           display:block;
           padding:20px;
           cursor: pointer;
       }
       
</style>


<div class="col-6">
        
    <h1>Board for @Model.Player.Name</h1>
    
    <p>This your board, where you place your ships. Your opponent will play on it (without seeing your ships).</p>

    <p>Number of ship type squares: @Model.Board.ShipCount() / 15 needed</p>
    
    <form method="post">
        
        <div class="row">
            <div class="col">
                <label for="CreateRandomBoard"><input class="form-check-input" name="CreateRandomBoard" id="CreateRandomBoard" type="checkbox" value="true">Random board</label>
            </div>
        </div>
        
        @foreach (var row in Model.Board.Rows!)
        {
            <div class="row">
                
                    @foreach (var coord in row.Coordinates)
                    {
                        <label>
                            <input class="form-check-input" name="Ships" id="xx" type="checkbox" value="@coord.X-@coord.Y" checked="@coord.BoardSquareState.IsShip">
                        </label>
                    }
            </div>
        }

        <div class="form-group">
            <input class="form-control" asp-for="@Model.Player.Id" readonly />
        </div>

        <div class="form-group">
            <input type="submit" value="Setup" class="btn btn-primary"/>
        </div>
        
    </form>

</div>